.containera{
    text-align: center;
  position: absolute;
  left: 160px;
  top: 240px;

  }
  
  
  
  

/* ===== Career ===== */
.career-form {
  background-color: #4e63d7;
  border-radius: 100px;
  padding: 0 16px;
  
}

.career-form .form-control {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
}

.career-form .form-control::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}

.career-form .form-control::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}

.career-form .form-control:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}

.career-form .form-control:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

.career-form .custom-select {
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 12px 15px;
  color: #fff;
  width: 100%;
  border-radius: 5px;
  text-align: left;
  height: auto;
  background-image: none;
}

.career-form .custom-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.career-form .select-container {
  position: relative;
}

.career-form .select-container:before {
  position: absolute;
  right: 15px;
  top: calc(50% - 14px);
  font-size: 18px;
  color: #ffffff;
  content: '\F2F9';
  font-family: "Material-Design-Iconic-Font";
}

.filter-result .job-box {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
  padding: 10px 35px;
}

ul {
  list-style: none; 
}

.list-disk li {
  list-style: none;
  margin-bottom: 12px;
}

.list-disk li:last-child {
  margin-bottom: 0;
}
.job-box{
min-width:650px;


}







.job-box .img-holder {
  height: 65px;
  width: 65px;
  background-color: #4e63d7;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 65px;
}

.career-title {
  background-color: #4e63d7;
  color: #fff;
  padding: 15px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(78, 99, 215, 0.9)), to(#5a85dd));
  background-image: linear-gradient(to right, rgba(78, 99, 215, 0.9) 0%, #5a85dd 100%);
}

.job-overview {
  -webkit-box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
          box-shadow: 0 0 35px 0 rgba(130, 130, 130, 0.2);
  border-radius: 10px;
}

@media (min-width: 992px) {
  .job-overview {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
  }
}

.job-overview .job-detail ul {
  margin-bottom: 28px;
}

.job-overview .job-detail ul li {
  opacity: 0.75;
  font-weight: 600;
  margin-bottom: 15px;
}

.job-overview .job-detail ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}

.job-overview .overview-bottom,
.job-overview .overview-top {
  padding: 35px;
}

.job-content ul li {
  font-weight: 600;
  opacity: 0.75;
  border-bottom: 1px solid #ccc;
  padding: 10px 5px;
}

@media (min-width: 768px) {
  .job-content ul li {
    border-bottom: 0;
    padding: 0;
	
 
  }
}

.job-content ul li i {
  font-size: 20px;
  position: relative;
  top: 1px;
}
.mb-30 {
    margin-bottom: 30px;
}






.icon-1x {
    font-size: 24px !important;
}
a{
    text-decoration:none; 
   
}
.text-primary, a.text-primary:focus, a.text-primary:hover {
    color: #00ADBB!important;
	font-size: 20px;
}
.text-black, .text-hover-black:hover {
    color: #000 !important;
	
}
.font-weight-bold {
    font-weight: 700 !important;
	
}

.bg-white{

min-width:350px;
box-shadow: -1px -1px #e8e8e8,1px 1px #e8e8e8 ;

}


.bg-whitee{

min-width:350px;
position: absolute; top: 480px;  
box-shadow: -1px -1px #e8e8e8,1px 1px #e8e8e8 ;

}
















.crumbs {
    text-align: center;
  position: absolute;
  left: 200px;
  top: 100px;
  }
  
  .crumbs h1 {
    padding: 0 0 30px;
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 600;
    letter-spacing: 0.01rem;
    color: #8093A7;
  }
  
  .crumbs ul {
    list-style: none;
    display: inline-table;
  }
  
  .crumbs ul li {
    display: inline;
  }
  
  .crumbs ul li a {
    display: block;
    float: left;
    height: 80px;
    background: #f3f5fa;
    text-align: center;
    padding: 30px 20px 0 60px;
    position: relative;
    margin: 0 10px 0 0;
    font-size: 14px;
    text-decoration: none;
    color: #8093A7;
	
  }
  
  .crumbs ul li a:after {
    content: "";
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #f3f5fa;
    position: absolute;
    right: -40px;
    top: 0;
    z-index: 1;
  }
  
  .crumbs ul li a:before {
    content: "";
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .crumbs ul li:first-child a {
    padding-left: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .crumbs ul li:first-child a:before {
    display: none;
  }
  
  .crumbs ul li:last-child a {
    padding-right: 820px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .crumbs ul li:last-child a:after {
    display: none;
  }
  
  .crumbs ul li a:hover {
    background: #5a19e6;
    color: #fff;
  }
  
  .crumbs ul li a:hover:after {
    border-left-color: #2825df;
    color: #fff;
  }

























.search-box{
   
   
    background: white;
    height: 40px;
    border-radius: 40px;
    

}




.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
    top: 50px;
}

.search-box:hover > .search-btn{
   background: white;
     }

.search-btn{
    color: #e84118;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}


.search-txt{
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: black;
 font-size: 16px;
 transition: 0.4s;   
 line-height: 40px;
 width: 0px;
}













:root {
  --nav-link-color: rgba(233, 242, 251, 1);
  --nav-link-hover-color: rgb(190, 217, 243);
  --title-span-color: rgb(24, 78, 129);
  --hero-background: rgb(255, 255, 255);
  --hero-background-gradient: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(17, 57, 96, 1) 100%);

  --font-small: 0.5em;
  --font-medium: 1em;
  --font-medium-large: 1.25em;
  --font-large: 1.5rem;
  --font-x-large: 2rem;
  --font-2x-large: 3rem;
  --font-3x-large: 3.5rem;
  --font-4x-large: 4rem;
  --font-5x-large: 4.5rem;
  --font-6x-large: 5rem;
  --font-7x-large: 5.5rem;

  -text-color: rgba(7, 26, 44, 1);

  --transition-slow: 0.6s;
  --transition-medium: 0.4s;
  --transition-fast: 0.2s;
  --transition-fastest: 0.1s;
}








/*Large Desktop*/
/*General CSS*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  color: var(--title-span-color);
  font-weight: bold;
}

h2,
h3,
p {
  font-family: "Quicksand", sans-serif;
}

.container {
  width: 60%;
  margin: 0 auto;
}

/*Navigation*/

.navigation {
  width: 100%;

  z-index: 100;
  top: 0px;
  height: 50px;
}

.nav-container {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  display: flex;
}

.nav-container .links {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  font-family: "Courier New", monospace;
}

.nav-container .logo {
  display: flex;
  width: auto;
  align-items: center;
  min-width: 20%;
  width: auto;
  font-family: "Courier New", monospace;
}

.nav-container .logo span {
  color: var(--nav-link-hover-color);
}

.nav-container .links a,
.nav-container .logo a {
  text-decoration: none;
  color: var(--nav-link-color);
  transition: var(--transition-fast);
}

.nav-container .links a {
  font-size: var(--font-medium);
}

.nav-container .logo a {
  font-size: var(--font-large);
}

.nav-container .links a:hover,
.nav-container .logo a:hover {
  color: var(--nav-link-hover-color);
}

.nav-container .links a:after,
.nav-container .logo a:after {
  display: block;
  content: "";
  border-bottom: 1px solid var(--nav-link-hover-color);
  transform: scaleX(0);
  transition: transform var(--transition-fastest) ease-in-out;
  transform-origin: 100% 50%;
}

.nav-container .logo a:hover:after,
.nav-container .links a:hover:after {
  transform: scaleX(1);
  transform-origin: 0% 50%;
}

.mobile-button {
  
  display: none;
}

.mobile-logo {
  display: flex !important;
}

.mobile-logo .logo {
  width: auto;
}

.mobile-links {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: var(--transition-fast);
  padding-top: 20px;
}

.mobile-links a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--nav-link-color);
  display: block;
  transition: 0.3s;
}

.mobile-links a:hover {
  color: #f1f1f1;
}

.mobile-links .closebtn {
  font-size: var(--font-x-large);
  margin-right: 25px;
}

/*Hero*/

.hero {
  /* display: flex; */
  min-height: 300px;
  height: 2000px;
background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-shadow: inset 0px 0px 300px 0px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0px 0px 3000px 2000px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 0px 300px 2000px rgba(255, 255, 255, 0.8);
}

.hero .text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.hero .text .pre-title {
  font-size: var(--font-2x-large);
}
.hero .text .title {
  font-size: var(--font-5x-large);
}
.hero .text .title span {
  color: var(--title-span-color);
  border-bottom: 5px solid var(--title-span-color);
}
.hero .text .post-title {
  font-size: xx-large;
}